* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../../assets/images/bois.webp);
    height: 11vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    background-image: url(../../assets/images/iExvJxJe-fond-decran-Minecraft-55.webp);
    background-size: cover;

    .ligne {
        img {
            width: 100px;
        }
    }

    div {
        img {
            margin: 5px;
        }
    }

    .btnrestart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        background: green;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100px;
        font-style: normal;
        width: 350px;
        font-size: 50px;
        color: white;
        border: solid rgb(63, 62, 62) 3px;
        padding: 5px;


    }

    .btngame {
        margin: 10px;
        background: green;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100px;
        font-style: normal;
        width: 350px;
        font-size: 50px;
        color: white;
        border: solid rgb(63, 62, 62) 3px;
        padding: 5px;

    }

    .imgvictoire {
        
        width: 500px;
    }
    .imgp4{
   
        margin-top: 30px;
        width: 600px;
    }

    #zonedejeu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}